.dish-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.dish-table th, .dish-table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}

.dish-table th {
    background-color: #343a40;
    color: #fff;
}

.dish-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.dish-table img.dish-image {
    width: 100px; /* Можна налаштувати ширину */
    height: auto;
    border-radius: 5px;
}