/* Загальні стилі для сторінки */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Забезпечує, щоб футер завжди був внизу */
}

/* Стилі для шапки (header) */
header {
    background-color: #343a40;
    padding: 1rem;
    color: #fff;
    text-align: center; /* Центрування тексту */
}

header h1 {
    margin: 0;
    font-size: 2rem;
}

/* Основний контент */
main {
    flex: 1; /* Дозволяє основному контенту розширюватися, заповнюючи доступний простір */
    padding: 1rem;
}

/* Стилі для футера (footer) */
footer {
    background-color: #343a40;
    color: #fff;
    text-align: center;
    padding: 1rem;
    width: 100%;
}

/* Стилі для головної сторінки */
.home-header {
    background: url('/static/img/pexels-yente-van-eynde-1263034-2403392.jpg') no-repeat center center/cover;
    height: 100vh; /* Висота в 100% від видимого простору */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    padding: 0 20px;
    box-sizing: border-box; /* Щоб padding і border враховувалися у загальних розмірах */
}

.home-title {
    background-color: rgba(0, 0, 0, 0.5); /* Напівпрозорий фон для тексту */
    padding: 20px;
    border-radius: 10px;
    max-width: 90%; /* Обмеження ширини */
    box-sizing: border-box; /* Щоб padding враховувався у ширині */
}

.home-title h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.home-title p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.home-title .btn {
    margin: 0.5rem;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}

.btn-primary {
    background-color: #007bff;
}

.btn-secondary {
    background-color: #6c757d;
}

.btn-success {
    background-color: #28a745;
}

/* Стилі для форм */
form {
    margin-top: 1rem;
}

form button {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button[type="submit"] {
    background-color: #007bff;
}

form a {
    margin-left: 1rem;
    color: #007bff;
    text-decoration: none;
}
