{% extends "base.html" %}

{% block content %}
<h1>{{ dish.name }}</h1>
<p>{{ dish.description }}</p>
<p>Price: ${{ dish.price }}</p>
<p>Dish Type: {{ dish.dish_type.name }}</p>
<p>Cooks responsible:</p>
<ul>
    {% for cook in object.cooks.all %}
        <li>{{ cook.name }}</li>
    {% endfor %}
</ul>
<a href="{% url 'kitchen:dish_update' dish.pk %}">Update Dish</a>
<a href="{% url 'kitchen:dish_delete' dish.pk %}">Delete Dish</a>
<a href="{% url 'kitchen:dish_list' %}">Back to Dish list</a>
{% endblock %}