{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Restaurant Kitchen Service{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <header>
        <div class="nav-icons">
            <a href="javascript:history.back()">
                <img src="{% static 'img/arrow-circle-left.png' %}" alt="Back">
              
            </a>
            <a href="javascript:history.forward()">
                <img src="{% static 'img/arrow-circle-right.png' %}" alt="Forward">
            </a>
        </div>
        <h1>Restaurant Kitchen Service</h1>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 Restaurant Kitchen Service</p>
    </footer>
</body>
</html>
